
.task {
    width: 90%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #5B797D;
}

.doneTask {
    background: grey;
}
.task span {
    width: 200px;
}

.btnDone {
    border: none;
    color: white;
    padding: 5px 10px;
    background: green;
    border-radius: 5px;
}
.btnDelete {
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background: orangered;
}
.btnDone,
.btnDelete:hover {
    cursor: pointer;
}